<link href="/styles/profile.css" rel="stylesheet" type="text/css" />
<div class="profile-layout container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">
                    <i class="fas fa-home"></i> {{_ 'Home'}}
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <i class="fas fa-user"></i>
                {{_ 'My Profile'}}
            </li>
        </ol>
    </nav>
    <h1 class="mt-4">
        <i class="fas fa-user"></i>
        &nbsp;
        {{_ 'My Profile'}}
    </h1>
    <hr />
    <div class="row">
        <div class="col-md-3">
            {{#if profile_image}}
                <img src="{{profile_image}}" width="100%" />
            {{else}}
                <img src="/images/default-avatar.png" width="100%" />
            {{/if}}

            <a class="d-block text-center btn btn-info" href="javascript:void(0)">
                {{_ 'Change Photo'}}
            </a>

            {{> profile_menu}}
        </div>
        <div class="col-md-9">
            <form method="post">
                {{#format 'field' 'profile' item}}
                    {{#each formats}}
                        {{#notin 'profile_image' @key}}
                            {{> profile_fieldset}}
                        {{/notin}}
                    {{/each}}
                {{/format}}
                <div class="form-group mt-2">
                    <input type="hidden" name="csrf" value="{{csrf}}" />
                    <button class="btn btn-primary">{{_ 'Submit'}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
